### Git ###
# Creado por git para copias de seguridad. Para deshabilitar las copias de seguridad en Git:
# $ git config --global mergetool.keepBackup falso
*.orig

# Creado por git al usar herramientas de fusión para conflictos
*.RESPALDO.*
*.BASE.*
*.LOCAL.*
*.REMOTO.*
*_RESPALDO_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTO_*.txt

### VisualStudioCode ###
.vscode/*
!.vscode/configuración.json
!.vscode/tareas.json
!.vscode/lanzamiento.json
!.vscode/extensiones.json
!.vscode/*.fragmentos de código

# Historial local para Visual Studio Code
.historia/

# Extensiones de código de Visual Studio integradas
*.vsix

### Parche de VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia
.ionuro

# Compatibilidad con el alcance del fragmento de código del proyecto

### Ventanas ###
# Archivos de caché de miniaturas de Windows
Pulgares.db
Thumbs.db: encriptable
ehthumbs.db
ehthumbs_vista.db

# Volcar archivo
*.stackdump

# archivo de configuración de la carpeta
[Dd]esktop.ini

# Papelera de reciclaje utilizada en archivos compartidos
$RECICLAJE.BIN/

# archivos del instalador de Windows
*.taxi
*.msi
*.msix
*.msm
*.msp

# Atajos de Windows
*.lnk

# Archivos a excluir en el TP2 31/2/2022
*.exe
*.obj
*.tds